<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutCoverageMetadata="true"
    beStrictAboutOutputDuringTests="true"
    executionOrder="random"
>
  <php>
    <ini name="memory_limit" value="-1"/>
  </php>

  <testsuites>
    <testsuite name="Roave\InfectionStaticAnalysis tests">
      <directory>./test/unit</directory>
    </testsuite>
  </testsuites>

  <coverage>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </coverage>
</phpunit>
